@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Metal+Mania&display=swap');

body {
  font-family: 'Special Elite', Helvetica, sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 0;
  color: #222;
}

header {
  background: linear-gradient(135deg, #2e5ab9, #8305bd);
  color: white;
  text-align: center;
  padding-bottom: 1px;  
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0em 0;
}

.logo {
  width: 100px; /* adjust size to balance with text */
  height: auto;
  margin: 0; /* remove extra margin since flex is handling spacing */
}

h1 {
  font-family: 'Metal Mania', cursive;
  margin: 0;
  font-size: 60px;
}

nav { 
  margin-bottom: 1em;
}

nav a {
  margin: 0 1em;
  color: rgb(21, 190, 176);
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

nav a:hover {
  text-decoration: underline;
  color: #c1ff00;
}

.tagline {
  font-size: 2.3em;
  font-weight: bold;
  margin: 1em 0;
  text-align: left;
}

main {
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 1em;
  background: #eee;
  margin-top: 2em;
}

form input,
form textarea {
  width: 100%;
  max-width: 500px;
  padding: 0.5em;
  margin-top: 0.5em;
  border: 1px solid #ccc;
  font-family: 'Special Elite', Helvetica, sans-serif;
}

button {
  background: #ff00cc;
  color: white;
  padding: 0.5em 1em;
  border: none;
  margin-top: 1em;
  cursor: pointer;
}

.bio {
  margin-bottom: 2em;
}

.subtagline {
  font-size: 41px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  margin: 0px;
}

p {
  font-size: 20px;
}

.donate-links {
  text-align: center;
  margin: 2em 0;
}

.donate-button {
  display: inline-block;
  padding: 0.75em 1.5em;
  margin: 0.5em;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 20px;
  transition: transform 0.2s ease;
}

.donate-button:hover {
  transform: scale(1.05);
}

.patreon {
  background-color: #FF424D;
}

.venmo {
  background-color: #3D95CE;
}
